<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/signIn.css" />
</head>
<body>
<!-- <div class="header">
    <a class="logo" href=""></a>
</div> -->
<div class="middle-bg">
    <div id="wrapper" class="wrapper">
        <div class="main">
            <div class="login-panel">
                <ul class="tab">
                    <li class="signIn current">手机登录</li>
                    <li class="register">注册</li>
                </ul>
                <form action="/login/doLogin" method="post">
                    <div class="signIn-content" style="display: block;">
                        <div class="section-input">
                            <input type="text" class="phone" name="username" placeholder="请输入手机号" />
                        </div>
                        <div class="section-input">
                            <input type="password" class="password" name="password"  placeholder="请输入密码" />
                        </div>
                        <button class="btn J_submit" id="submit_btn_id"  type="submit">登录</button>
                    </div>
                </form>

                <form action="/login/doLogin" method="post">
                    <div class="register-content" style="display: none;">
                        <div class="section-input">
                            <input type="text" class="phone" name="username" placeholder="请输入手机号" />
                        </div>
                        <div class="section-input">
                            <input type="password" class="password" name="password" placeholder="请输入密码" />
                        </div>
                        <button class="btn J_submit" id="register_btn_id" type="submit">注册</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
